/* =============- VARIABLES -============= */

:root {
  --bg-color: #0f0f0f;
  --border: #555;
  --text-clr: white;
  --text-clr2: #dbdbdb;
  --header: #0f0f0ff1;
}

/* =============- ROOT STYLES -============= */
html {
  font-size: 200%;
}

body {
  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

h1 {
  color: var(--text-clr2);
  font-family: "Euclid-semibold";
  font-size: 3rem;
  text-align: center;
}

hr {
  background-color: var(--border);
  color: var(--border);
  margin: 1em 0.7em; 
  margin-bottom: 0;
}
/* =============- T E X T -============= */

.title {
  color: var(--text-clr);
  font-family: "Euclid-semibold";
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
  margin-top: 2rem;
}
.description {
  color: var(--text-clr2);
  font-family: "Apple-system";
  font-size: 0.7rem;
  margin-bottom: 0.2rem;
}
.description--2 {
  color: var(--text-clr2);
  font-family: "Apple-system";
  font-size: 1rem;
  
}

.input {
  font-size: 1.5rem;
  border: solid 1px #707070;
  color: #dbdbdb;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.3rem;
  border-radius: 0.4em;
  padding-left: 0.6rem;

}
.input::placeholder {
  font-size: 1rem;
}
.input:focus {
  outline: none;
  border: solid 2px #2962ff;
}


#result, #result2, #result3 {
  color: var(--text-clr2);
  font-family: "Euclid-semibold";
  font-size: 1.5rem;
  margin: 0;
}

.igual {
  display: none;
}

/* =============- I M A G E S -============= */

.bg__glow {
  z-index: -10;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
  position: fixed;
  bottom: 0;

}

/* =============- H E A D E R -============= */
.header {
  border-bottom: solid 1px var(--border);
  margin: 0 0.2rem;
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--header);
  backdrop-filter: blur(1rem);
}

.tradingview {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: ease 300ms;
}
.tradingview:hover {
  opacity: 0.95;
  filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.5));
}

.header__icon {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: ease 300ms;
  border-radius: 3rem;
}
.header__icon:hover {
  opacity: 0.95;
  filter: drop-shadow(0 0 0.5rem rgba(255, 196, 0, 0.5));
}

.header__title {
  color: var(--text-clr);
  font-family: "Euclid-semibold";
  font-size: 1.5rem;
  margin: 0.3rem 0;
}

.watermark {
  position: fixed;
  z-index: -1;
  bottom: 0;
  right: 0;
  margin-right: 0.3rem;
  color: var(--text-clr);
  font-family: "Euclid-semibold";
  font-size: 1rem;
  margin-bottom: 0.1rem;
  opacity: 0;
  animation: fade-in3 1s ease-out 0ms 1 forwards;
  visibility: hidden;
}

/* =============- flexbox -============= */

.row {
  display: grid;
  grid-template-columns: 1fr;
}

.column {
  display: flex;
  flex-direction: column;
}

.size1 {
  width: 10rem;
}

.size2 {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

/* =============- Animation -============= */

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-inn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/* ================- F O N T S -================= */
@font-face {
  font-family: "Euclid-semibold";
  src: url("../fonts/Euclid-SemiBold.ttf") format('truetype');

}

@font-face {
  font-family: "Apple-system";
  src: url("../fonts/pro/SF-Pro-Text-Regular.otf") format('opentype');
}

/* ================- MEDIA QUERIES -================= */

@media (min-width: 800px) {
  .size1 {
    width: 11rem;
    margin-left: 1rem;
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .igual {
    color: var(--text-clr);
    font-family: "Apple-system";
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
    display: inline-block;
  }
  .description--2 {
    margin: 0;
  }
  html {
    font-size: 120%;
  }
  .tradingview {
    height: 3rem;
    width: 3rem;
  }
  .header__icon {
    height: 3rem;
    width: 3rem;
  }
  .watermark {
    visibility: visible;
  }
  .description {
    font-size: 1rem;
  }
  .title {
    font-size: 1.5rem;
  }
  hr {
    display: none;
  }
  .size1 {
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .size1 {
    width: 14rem;
    margin-left: 1rem;
  }
}









