/* =============- VARIABLES -============= */

:root {
  --bg-color: #0f0f0f;
  --border: #555;
  --text-clr: white;
  --header: #0f0f0ff1;
}

/* =============- ROOT STYLES -============= */
html {
  font-size: 100%;
}

body {
  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
  padding-top: 3rem;
  overflow: hidden;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

h1 {
  color: var(--text-clr);
  font-family: "Euclid-semibold";
  font-size: 3rem;
  text-align: center;
}

/* =============- Images -============= */

.bg__glow {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
  z-index: -10;
  opacity: 0.3;
}

/* =============- H E A D E R -============= */
.header {
  border-bottom: solid 1px var(--border);
  margin: 0 0.2rem;
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--header);
  backdrop-filter: blur(1rem);
}

.tradingview {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: ease 300ms;
}
.tradingview:hover {
  opacity: 0.95;
  filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.5));
}

.header__icon {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: ease 300ms;
  border-radius: 3rem;
}
.header__icon:hover {
  opacity: 0.95;
  filter: drop-shadow(0 0 0.5rem rgba(255, 196, 0, 0.5));
}

.header__title {
  color: var(--text-clr);
  font-family: "Euclid-semibold";
  font-size: 1.5rem;

}

/* =============- flexbox -============= */

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: flex-end;
}
/* =============- Animation -============= */

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-inn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/* ================- F O N T S -================= */
@font-face {
  font-family: "Euclid-semibold";
  src: url("../fonts/Euclid-SemiBold.ttf") format('truetype');

}

@font-face {
  font-family: "Apple-system";
  src: url("../fonts/pro/SF-Pro-Text-Regular.otf") format('opentype');


}

/* ================- MEDIA QUERIES -================= */

@media (max-width: 500px) {
  .size1 {
  width: 7rem;
  margin-left: 1rem;
  
}

@media (min-width: 1300px) {
  .size1 {
  width: 16.5rem;
  margin-left: 1rem;
  
}
}
